$cdnUrl: 'http://cdn.aplidex.rurick.dev.s3.us-east-2.amazonaws.com';
// $typesUrl: 'https://cdn.aplidex.rurick.dev/assets/types';
$medalsUrl: '#{$cdnUrl}/assets/medals';
// $typesUrl: 'https://cdn.aplidex.rurick.dev/assets/types';
$typeUrl: '#{$cdnUrl}/assets/types';

// Placeholder Loader
$ph-border-radius: 12px;
$ph-spacer: 5px;
$ph-gutter: 10px;

