$cdnUrl: 'http://cdn.aplidex.rurick.dev.s3.us-east-2.amazonaws.com';
// $typesUrl: 'https://cdn.aplidex.rurick.dev/assets/types';
$medalsUrl: '#{$cdnUrl}/assets/medals';
// $typesUrl: 'https://cdn.aplidex.rurick.dev/assets/types';
$typeUrl: '#{$cdnUrl}/assets/types';