
// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Press+Start+2P&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

.has-bit-font {
  font-family: 'Press Start 2P', cursive;
}

.is-details-container {
  position: fixed;
  width: 25%;
  height: 100%;
  overflow-y: scroll;
}

.has-not-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

// ToDo: move this code to their respective component scss file
.search-bar {
  position: fixed;
  top: 0;
  z-index: 2;
}

// Bulma
@import './constants.scss';
@import '../node_modules/bulma/bulma.sass';

a {
  &:hover {
    color: $black-bis;
  }
  &:link {
    color: $grey-dark;
  }
  &:visited {
    color: $black;
  }
}

@import './components/index.scss';

