
.is-pokemon-card {
  box-shadow: none;
  border-radius: 12px;
  transition: box-shadow 0.3s ease-in-out;
  padding: 0.25em;
  padding-bottom: 0.75em;
  min-height: 25vh;
  &:hover {
    cursor: pointer;
    box-shadow: 0px 15px 25px 0px rgba(202,202,202,1);
    transform: translate3d(0px,-1px,0px);
  }
  .is-pokemon-image-container {
    text-align: center;
    min-height: 12vh;
  }
  .is-pokemon-data {
    .is-pokemon-name {
      width: 100%;
      overflow-y: auto;
      white-space: nowrap;
      text-transform: capitalize;
    }
  }
}