
.pokemon-card-placeholder {
  height: 100%;
}
.ph-item {
  border-color: white;
}
.ph-picture {
  border-radius: 12px 12px 0 0;
}
.ph-circular {
  border-radius: 50%;
  width: 33px !important;
  height: 33px !important;
}
