.is-details-container-bottom-sheet {
  padding-top: 12px;
  padding-right: 12px;
  padding-left: 12px;
  position: fixed;
  bottom: 0;
  z-index: 2;
  background-color: var(--pokemon-bottom-sheet-background);
  border-radius: 12px 12px 0 0;
  box-shadow: var(--pokemon-bottom-sheet-box-shadow);
  width: 100%;
  .is-pokemon-data-bottom-sheet {
    width: 100%;
  }
  .is-pokemon-name-bottom-sheet {
    width: 100%;
    overflow-y: auto;
    white-space: nowrap;
    text-transform: capitalize;
  }
  .is-pokemon-details-bottom-sheet {
    position: relative;
    height: 85vh;
    top: 0;
    left: 0;
    z-index: 3;
    overflow-y: scroll;
    pointer-events: all;
  }
}
